{% extends "core/base.html" %}
{% block page %}
    <div class="page-header">
        <h1>Flask 模板</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorem dolorum ea
                exercitationem expedita explicabo facilis placeat vel? Accusantium alias, aliquid aspernatur autem,
                cumque facilis iste libero magni molestiae natus nemo numquam porro, provident sunt suscipit! Aliquam
                aut cumque ducimus, ea illo numquam officiis quia sequi velit. Accusamus consectetur earum
                necessitatibus neque saepe voluptate voluptatum. Ab ad alias architecto at consequuntur cum delectus
                deleniti distinctio error est et fugit hic impedit itaque iure magnam, minus molestiae nisi nobis omnis
                quam quasi quidem recusandae sequi sit voluptas, voluptates voluptatibus. Architecto cupiditate labore
                neque officiis perspiciatis repellat sed tempore vero voluptas voluptates.</p>
        </div>
        <div class="col-md-4">
            <p class="text-muted">Amet aperiam commodi cupiditate dolorum enim et, illum labore laborum, maxime, minus
                molestias natus nisi nobis nulla pariatur porro praesentium provident quam quo soluta voluptas voluptate
                voluptates. Consectetur, eos hic illum, in minus molestias necessitatibus officiis perferendis qui,
                quisquam repudiandae sapiente tempora voluptate. A ab accusamus, alias asperiores aspernatur autem
                consectetur deserunt et eum excepturi laboriosam maiores obcaecati omnis quae quibusdam quod sequi, sunt
                totam vero voluptas? At aut consequuntur culpa cum cumque debitis dolorum earum et ex exercitationem
                incidunt inventore modi nemo optio pariatur, quas quos rem rerum, soluta suscipit temporibus totam ullam
                veniam voluptatem voluptatibus. Cupiditate, fuga inventore?</p>
        </div>
        <div class="col-md-4">
            <p class="text-muted">Accusamus dolores eaque magnam magni maiores nostrum, omnis perferendis placeat, qui
                quo soluta totam unde ut veritatis voluptatum. Ab accusantium alias at deserunt dignissimos doloribus ea
                eligendi eos expedita facilis id incidunt nemo neque nesciunt odit placeat, quae quisquam rem suscipit,
                tempora. Eligendi impedit itaque molestiae, nihil tenetur veniam? Accusantium aliquid asperiores
                consectetur doloremque doloribus maiores molestiae officia perspiciatis quisquam tenetur. Architecto
                commodi consequatur cum facilis illo ipsa nam possimus, voluptates. Adipisci amet animi cumque eum
                excepturi exercitationem fugiat incidunt ipsam iure labore libero magnam minus, nam, natus nisi porro
                possimus quisquam reiciendis saepe suscipit temporibus ullam veniam voluptatem voluptatum!</p>
        </div>
    </div>
{% endblock %}