{% extends "core/base.html" %}
{% block page %}
    <div class="page-header">
        <h1>用户注册</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% import "bootstrap/wtf.html" as wtf %}
            <form action="{{ url_for('auth.register') }}" method="dpost">
                {{ form.hidden_tag() }}
                {{ form_errors(form, hiddens='only') }}

                {%- for field in form %}
                    {% if not bootstrap_is_hidden_field(field) -%}
                        {{ form_field(field,
                    form_type=form_type,
                    horizontal_columns=horizontal_columns,
                    button_map=button_map) }}
                    {%- endif %}
                {%- endfor %}
            </form>
        </div>
    </div>
{% endblock %}