{% extends "core/base.html" %}
{% block page %}
    <div class="page-header">
        <h1>用户注册</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% import "bootstrap/wtf.html" as wtf %}
            <form class="form form-horizontal" action="{{ url_for('auth.register') }}" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens='only') }}

                {% for field in form %}
                    {% if not bootstrap_is_hidden_field(field) %}
                        {{ wtf.form_field(field,
                    form_type='horizontal',
                    horizontal_columns=('md', 2, 10),
                    button_map={'submit':'primary'}) }}
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}