<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Flask 模板</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for item in current_menu.submenu('main').children if item.visible recursive %}
                    {%- if item.children -%}
                        <li class='dropdown {{ 'active' if item.active }}'>
                            <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">{{ item.text }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {{ loop(item.children) }}
                            </ul>
                        </li>
                    {% else %}
                        <li {{ 'class=active' if item.active }}>
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {%- endif -%}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">欢迎您,&nbsp;{{ current_user.username or '游客' }}</p></li>
                {% if current_user and current_user.is_authenticated %}
                    <li {{ 'class=active' if current_menu.submenu('auth.profile').active }}>
                        <a href="{{ current_menu.submenu('auth.profile').url }}">{{ current_menu.submenu('auth.profile').text }}</a>
                    </li>
                    <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                {% else%}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录<span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    {% import "bootstrap/wtf.html" as wtf %}
                                    {% from "macro/_formhelpers.html" import render_field %}
                                    <form class="form form-horizontal" action="{{ url_for('auth.login') }}"
                                          method="post"
                                          accept-charset="utf-8">
                                        {{ form.hidden_tag() }}
                                        {{ wtf.form_errors(form, hiddens="only") }}
                                        {{ wtf.quick_form(form,
                                            form_type='horizontal',
                                            horizontal_columns=('md', 4, 8),
                                            button_map={'submit': 'primary'}
                                        ) }}
                                    </form>
                                </div>
                                <div class="bottom text-center">
                                    还没有账号吗?&nbsp;赶紧<a href="{{ url_for('auth.register') }}"><b>注册</b></a>吧!
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
